<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suitenew">

  <test parallel="classes" thread-count="5" name="Testnew">
  <!---groups>
  <run>
  <include name="snowman"></include>
  </run>
  </groups>-->
    <classes>
      <class name="assign1prac.SampleAssignmentNew"/>
      </classes>
      </test>
      
        <test parallel="classes" thread-count="5" name="Test1">
      <classes>

       <class name="assign1prac.Sample2Assign"/>
             </classes>

       <!--methods>
       <include name="test1">
       </include>
       </methods>-->
      
  </test> <!-- Testnew -->
</suite> <!-- Suitenew -->
